---
import { Icon } from "astro-icon/components";
import Experiencia from "./Experiencia.astro"
import Formacao from "./Formacao.astro"
import Projeto from "./Projeto.astro"

const exp1Desc = "Na Syonet sou responsável por projetar e desenvolver epics do backlog, contribuindo com o produto de máquinarios pesados da empresa. Minhas responsabilidades incluem análise de requisitos, desenvolvimento e controle de versão. Tecnologias utilizadas: C#, SQL Server, GitLab, Azure"
const exp2Desc = "Na Conceito Prime fui responsável por projetar, desenvolver, implementar e monitorar aplicações que contribuiam para o sucesso das campanhas de marketing de nossos clientes. Construíndo uma experiência sólida em tecnologias de cloud, esse emprego aprimorou minhas habilidades em design de sistemas de DevOps. Tecnologias utilizadas: AWS, Azure, Golang, Docker, Postgres, MongoDB"
const exp3Desc = "Na Zucchetti era responsável por implementar features no principal produto da empresa, o ERP. Tecnologias utilizadas: C#, SQL Server, Delphi e WinForms"

---

<div class="w-screen font-sans pt-50 pb-50 px-110">
	<div class="p-4 flex justify-end gap-y-12 flex-col">

		<div class="space-y-4 mb-12">
			<h1 class="font-bold">Olá, eu sou o Victor 👋</h1>
			<p class="leading-7 text-gray-600">
				Tenho 21 anos, palmeirense e fascinado por tecnologia. Atualmente atuo como <span class="text-primary-dark">
				Desenvolvedor Full-stack</span>. Tenho background como <span class="text-primary-dark">
				Analista de DevOps e Analista de Infraestrutura</span>.
			</p>
			<div class="flex gap-x-2">
				<a href="https://github.com/victorbetoni" target="_blank">
					<Icon name="fa6-brands:github" class="text-primary-dark w-8 h-8"/>
				</a>
				<a href="https://br.linkedin.com/in/victor-hugo-betoni" target="_blank">
					<Icon name="fa6-brands:linkedin" class="text-primary-dark w-8 h-8"/>
				</a>
			</div>
		</div>

		<div class="space-y-10">
			<h3 class="font-bold">Experiência 📄</h3>
			<Experiencia 
				titulo="Desenvolvedor Full-Stack" 
				descricao={exp1Desc} 
				inicio="Abril de 2025" 
				fim="Presente" 
				first={false}
				empresa="Syonet"/>
			<Experiencia 
				titulo="Desenvolvedor Full-Cycle" 
				descricao={exp2Desc} 
				first={false}
				inicio="Agosto de 2024" 
				fim="Abril de 2025" 
				empresa="Conceito Prime"/>
			<Experiencia 
				titulo="Desenvolvedor Desktop" 
				descricao={exp3Desc} 
				first={true}
				inicio="Junho de 2023" 
				fim="Fevereiro de 2024" 
				empresa="Zucchetti"/>
		</div>

		<div class="space-y-10">
			<h3 class="font-bold">Formação 🎓</h3>
			<Formacao 
				titulo="Análise e Desenvolvimento de Sistemas" 
				first={false}
				inicio="Fevereiro de 2024" 
				fim="Dezembro de 2026" 
				org="UFPR"/>
			<Formacao 
				titulo="Desenvolvimento de Sistemas" 
				first={true}
				inicio="Fevereiro de 2020" 
				fim="Dezembro de 2022" 
				org="COTIL - UNICAMP"/>
		</div>

		<div class="space-y-10">
			<h3 class="font-bold">Projetos 💻</h3>
			<div class="grid grid-cols-3 gap-2">
				<Projeto 
					link="https://github.com/victorbetoni/app-manager" 
					titulo="app-manager" 
					descricao="Gerencie containers e leia logs em tempo real através de chamadas HTTP e um Websocket" 
					stack={['Go']}
					/>
				<Projeto 
					link="https://github.com/luizantonio0/TADS_BANK" 
					titulo="BANTADS" 
					descricao="Simulador de Internet Banking baseado em microserviços para a disciplina de DAC."
					stack={["Java", "Angular", "RabbitMQ", "Redis"]}
					/>
				<Projeto 
					link="https://github.com/WynnGuardian" 
					titulo="wynn-guardian" 
					descricao="Plataforma para votação pública de weighting de itens no jogo WynnCraft."
					stack={['Go', 'Vue']}
					/>
				<Projeto 
					link="https://github.com/victorbetoni/listas" 
					titulo="listas" 
					descricao="Gerencie qualquer tipo de lista. Plataforma multiusuário auto-hospedado."
					stack={['Go']}
					/>
				<Projeto 
					link="https://github.com/victorbetoni/data-tracker" 
					titulo="data-tracker" 
					descricao="API para tracking de dados centralizado para plugins Bucket."
					stack={['Java']}
					/>
			</div>
		</div>

	</div>
</div>
