---
import { Icon } from "astro-icon/components";
import Experiencia from "./Experiencia.astro"

const exp1Desc = "Na Syonet sou responsável por projetar e desenvolver epics do backlog, contribuindo com o produto de máquinarios pesados da empresa. Minhas responsabilidades incluem análise de requisitos, desenvolvimento e controle de versão."
const exp2Desc = "Na Conceito Prime fui responsável por projetar, desenvolver, implementar e monitorar aplicações que contribuiam para o sucesso das campanhas de marketing de nossos clientes. Construíndo uma experiência sólida em tecnologias de cloud, esse emprego aprimorou minhas habilidades em design de sistemas de DevOps."

---

<div class="w-screen font-sans pt-50 pb-50 px-110">
	<div class="p-4 w-2/3 flex justify-end gap-y-24 flex-col">
		<div class="space-y-4">
			<h1 class="font-bold">Olá, eu sou o Victor 👋</h1>
			<p class="leading-7 text-gray-600">
				Sou apaixonado por tecnologia e atualmente atuo como <span class="text-primary-dark">
				Desenvolvedor Full-stack</span>. Tenho background como <span class="text-primary-dark">
				Analista de DevOps e Analista de Infraestrutura</span>. Experiência nas principais clouds do mercado.
			</p>
			<div class="flex gap-x-2">
				<a href="https://github.com/victorbetoni" target="_blank">
					<Icon name="fa6-brands:github" class="text-primary w-8 h-8"/>
				</a>
				<a href="https://br.linkedin.com/in/victor-hugo-betoni" target="_blank">
					<Icon name="fa6-brands:linkedin" class="text-primary w-8 h-8"/>
				</a>
			</div>
		</div>
		<div class="space-y-10">
			<h3 class="font-bold">Experiência 📄</h3>
			<Experiencia 
				titulo="Desenvolvedor Full-Stack" 
				descricao={exp1Desc} 
				inicio="Abril de 2025" 
				fim="Presente" 
				first={false}
				empresa="Syonet"/>
			<Experiencia 
				titulo="Desenvolvedor Full-Cycle" 
				descricao={exp2Desc} 
				first={false}
				inicio="Agosto de 2024" 
				fim="Abril de 2025" 
				empresa="Conceito Prime"/>
			<Experiencia 
				titulo="Desenvolvedor Desktop" 
				descricao={exp2Desc} 
				first={true}
				inicio="Agosto de 2024" 
				fim="Abril de 2025" 
				empresa="Conceito Prime"/>
		</div>
	</div>
</div>
